<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf839K-CAtrNII9sYo0fTT22gDs-WUamU</string>
	<key>GCM_SENDER_ID</key>
	<string>924857519951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.escapeAnchovy</string>
	<key>PROJECT_ID</key>
	<string>escape-anchovy</string>
	<key>STORAGE_BUCKET</key>
	<string>escape-anchovy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924857519951:ios:2c5cf6a69116e12278bf3a</string>
</dict>
</plist>